<%- layout('layouts/app') %>

<div class="content position-relative d-flex flex-column ">
  <div class="container m-auto">
    <div class="row m-5 text-center">
      <div class="column mt-5">
        <p class="lg back">404</p>
        <p class="md back">Page Not Found</p>
      </div>


        </form>
      </div>
    </div>
  </div>
</div>
